* {
    margin: 0;
    padding: 0;
    border: 0;
}

.landingpage {
    background-image: url('../images/food-pizza.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: gray;
}

.header nav {
    color: #fff;
    font-size: 20px;
    margin-right: 30px;
}

.header span {
    margin-left: 20px;
}

.covertext {
    position: relative;
    top: 20%;
    text-align: center;
    color: #fff;
}

.covertext h1 {
    font-size: 4em
}

.covertext p {
    font-size: 2em
}

/*about*/
.about {
    height: 60vh;
    text-align: center;
}

.about h2 {
    padding-top: 10%;
    padding-bottom: 3%;
}

#itemHeading {
    text-align: center;
    padding-bottom: 5%;
}
/*items*/

.specialItems {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.specialItems img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px yellow solid;
}

/*contacts*/

.contacts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.location img {
    width: 350px;
    height: 320px;
}